<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>헬로펫</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link async="" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/product.css">

</script>
</head>
<body>
    <div id="wrapper">
        <header class="header">
            <div class="headerTop">
                <div>
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                    <a href="#">마이페이지</a>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li><a href="#">증상별질병찾기</a></li>
                        <li><a href="#">병원/약국찾기</a></li>
                        <li class="logo"><a href="/index.html"><img src="../img/ci.png" alt="logo"></a></li>
                        <li><a href="#">커뮤니티</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main div class="top">
                    <h3>동물병원</h3>
                </div>

    <id="container" ng-app="appProduct" class="ng-scope">
            <div class="wid1300">
                <div class="lodcation">
                    <span class="ic-home">
                        <em>HOME</em>
                    </span>
                        >
                    <span>
                        <a href="#">동물병원</a>
                    </span>
                </div>
            </div>
        <div class="sub-cate ng-scope" ng-controller="ProductListController">
            <ul class="depth1">
                <li ng-repeat="category in categorys" ng-class="(selFirstCategory.indexOf(category.Id > -1) ? 'active' : ''"class="ng-scope active)"> 
                    <a style="cursor:pointer;" ng-click="toggleSelectionCategory(category.Id)" class="ng-binding">수술/치료</a>
                </li> 
                <li ng-repeat="category in categorys" ng-class="(selFirstCategory.indexOf(category.Id > -1) ? 'active' : ''"class="ng-scope)">
                    <a style="cursor:pointer;" ng-click="toggleSelectionFirstCategory(category.Id)" class="ng-binding">예방접종</a>
                </li>
            
                <li ng-repeat="category in categorys" ng-class="(selFirstCategory.indexOf(category.Id > -1) ? 'active' : ''"class="ng-scope)">
                    <a style="cursor:pointer;" ng-click="toggleSelectionFirstCategory(category.Id)" class="ng-binding">검진/검사</a>
                </li>
            
                <li ng-repeat="category in categorys" ng-class="(selFirstCategory.indexOf(category.Id > -1) ? 'active' : ''"class="ng-scope)">
                    <a style="cursor:pointer;" ng-click="toggleSelectionFirstCategory(category.Id)" class="ng-binding">기타</a>
                </li>
            </ul>
            <ul class="depth2 ng-scope" ng-repeat="category in categorys | filter:filterSelectedCategory1()">
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope active">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">비뇨산부의학과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">정형외과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">종양의학과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">치과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">안과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">일반외과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">일반내과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">이비인후과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">심장의학과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">감염내과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">소화기과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">응급의학과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">재활의학과</a>
                </li>
                <li ng-repeat="childcode in category.ChildCodes" ng-class="(selMediumCategory.indexOf(childcode.Id) > -1) ? 'active' : '':" class="ng-scope">
                    <a style="cursor:pointer;" ng-click="toggleSelectionMedCategory(childcode.Id)" class="ng-binding">피부과</a>
                </li>
            </ul>

            <ul class="depth4">
            <li ng-hide="!isMedicalProduct()" class>
                <strong class="tit">반려동물유형</strong>
                <div class="con">
                    <span ng-repeat="codetable in pettypes" class="ng-scope">
                        <input type="checkbox" id="catePetType173" name="chkProductOption" value="173" ng-checked="selPetType.indexOf(codetable.code)> -1" ng-click="toggleSelectionPetType(codetable.code)">
                        <label for="catePetType173" ng-class="(selfPetType.indexOf(codetable.code) > -1) ? 'areaactive' : 'areanon'" class="ng-binding areanon">반려견</label>
                    </span>
                    <span ng-repeat="codetable in pettypes" class="ng-scope">
                        <input type="checkbox" id="catePetType174" name="chkProductOption" value="173" ng-checked="selPetType.indexOf(codetable.code)> -1" ng-click="toggleSelectionPetType(codetable.code)">
                        <label for="catePetType174" ng-class="(selfPetType.indexOf(codetable.code) > -1) ? 'areaactive' : 'areanon'" class="ng-binding areanon">반려묘</label>
                    </span>
                    <span ng-repeat="codetable in pettypes" class="ng-scope">
                        <input type="checkbox" id="catePetType175" name="chkProductOption" value="173" ng-checked="selPetType.indexOf(codetable.code)> -1" ng-click="toggleSelectionPetType(codetable.code)">
                        <label for="catePetType175" ng-class="(selfPetType.indexOf(codetable.code) > -1) ? 'areaactive' : 'areanon'" class="ng-binding areanon">기타</label>
                    </span>
                </div>
            </li>
          
        </ul>
        
    </div>
   
    <div class="pro-lst" id="productList">
        <div class="probx">
            
            <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
            
            <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
            
            <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
            
            <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    <div class="pro-lst" id="productList">
        <div class="probx">
           <a href="#">
                <span class="thumb">
                    <img src="/product/img/Pro_pro_동탄_제왕절개.jpg" alt style="width:316px;height:320px;">
                </span>
                <div class="desc">
                    <p class="org">동탄동물병원(화성)</p>
                    <p class="prd">반려견·반려묘 제왕절개 수술</p>
                    <p class="txt">혈액검사&nbsp;포함,&nbsp;방사선촬영,&nbsp;포함,&nbsp;영양수액,&nbsp;포함,&nbsp;진통주사,&nbsp;포함</p>
                </div>
            </a>
                <div class="price">
                    <div class="cost">
                        <p class="sm">마이펫플러스 초대가</p>
                        <p class="won">
                            <strong>600.000</strong>
                            원
                        </p>                       
                    </div>
                </div>
        </div>
    </div>
    
        
       
           
               
 
    <input type="hidden" id="hidItemsNo" value="190">
    </div>
    <div id="pagingContainer" class="paging ng-scope ng-hide" ng-controller="ProductListController" ng-show="isDeilveryProduct()"></div>
    </div>
</div>

          
</main>

        <footer>
            <div class="footer">
                 <div class="container">
                     <div class="footer-col">
                         <ul class="info">
                             <li>GREEN ACADEMY</li>
                             <li>대표이사 김헬로</li>
                             <li>사업자 등록번호 230-12-15432</li>
                             <li>통신판매업신고번호 제 2023-부산-00213호</li>
                             <li>부산광역시 남구 수영로 299</li>
                             <li>TEL 051-000-0000</li>
                             <li>Email HelloPet@email.com</li>
                         </ul>
                     </div>
                     <div class="footer-col">
                         <ul class="link">
                             <li><a href="#">회사소개</a></li>
                             <li><a href="#">이용약관</a></li>
                             <li><a href="#">문의하기</a></li>
                             <li><a href="#">고객센터</a></li>
                         </ul>
                     </div>
                 </div>
            </div>
         </footer>
     </div>
     </body>
     </html>